

.black{ background-color: #000000; }
.white { background-color: #ffffff; }
.transparent{ background-color: transparent; }


.red-lighten-5{ background-color: #ffebee; }
.red-lighten-4{ background-color: #ffcdd2; }
.red-lighten-3{ background-color: #ef9a9a; }
.red-lighten-2{ background-color: #e57373; }
.red-lighten-1{ background-color: #ef5350; }
.red{ background-color: #f44336; }
.red-darken-1{ background-color: #e53935; }
.red-darken-2{ background-color: #d32f2f; }
.red-darken-3{ background-color: #c62828; }
.red-darken-4{ background-color: #b71c1c; }
.red-accent-1{ background-color: #ff8a80; }
.red-accent-2{ background-color: #ff5252; }
.red-accent-3{ background-color: #ff1744; }
.red-accent-4{ background-color: #d50000; }


.pink-lighten-5{ background-color: #fce4ec; }
.pink-lighten-4{ background-color: #f8bbd0; }
.pink-lighten-3{ background-color: #f48fb1; }
.pink-lighten-2{ background-color: #f06292; }
.pink-lighten-1{ background-color: #ec407a; }
.pink{ background-color: #e91e63; }
.pink-darken-1{ background-color: #d81b60; }
.pink-darken-2{ background-color: #c2185b; }
.pink-darken-3{ background-color: #ad1457; }
.pink-darken-4{ background-color: #880e4f; }
.pink-accent-1{ background-color: #ff80ab; }
.pink-accent-2{ background-color: #ff4081; }
.pink-accent-3{ background-color: #f50057; }
.pink-accent-4{ background-color: #c51162; }



.purple-lighten-5{ background-color: #f3e5f5; }
.purple-lighten-4{ background-color: #e1bee7; }
.purple-lighten-3{ background-color: #ce93d8; }
.purple-lighten-2{ background-color: #ba68c8; }
.purple-lighten-1{ background-color: #ab47bc; }
.purple{ background-color: #9c27b0; }
.purple-darken-1{ background-color: #8e24aa; }
.purple-darken-2{ background-color: #7b1fa2; }
.purple-darken-3{ background-color: #6a1b9a; }
.purple-darken-4{ background-color: #4a148c; }
.purple-accent-1{ background-color: #ea80fc; }
.purple-accent-2{ background-color: #e040fb; }
.purple-accent-3{ background-color: #d500f9; }
.purple-accent-4{ background-color: #aa00ff; }



.deep-purple-lighten-5{ background-color: #ede7f6; }
.deep-purple-lighten-4{ background-color: #d1c4e9; }
.deep-purple-lighten-3{ background-color: #b39ddb; }
.deep-purple-lighten-2{ background-color: #9575cd; }
.deep-purple-lighten-1{ background-color: #7e57c2; }
.deep-purple{ background-color: #673ab7; }
.deep-purple-darken-1{ background-color: #5e35b1; }
.deep-purple-darken-2{ background-color: #512da8; }
.deep-purple-darken-3{ background-color: #4527a0; }
.deep-purple-darken-4{ background-color: #311b92; }
.deep-purple-accent-1{ background-color: #b388ff; }
.deep-purple-accent-2{ background-color: #7c4dff; }
.deep-purple-accent-3{ background-color: #651fff; }
.deep-purple-accent-4{ background-color: #6200ea; }



.indigo-lighten-5{ background-color: #e8eaf6; }
.indigo-lighten-4{ background-color: #c5cae9; }
.indigo-lighten-3{ background-color: #9fa8da; }
.indigo-lighten-2{ background-color: #7986cb; }
.indigo-lighten-1{ background-color: #5c6bc0; }
.indigo{ background-color: #3f51b5; }
.indigo-darken-1{ background-color: #3949ab; }
.indigo-darken-2{ background-color: #303f9f; }
.indigo-darken-3{ background-color: #283593; }
.indigo-darken-4{ background-color: #1a237e; }
.indigo-accent-1{ background-color: #8c9eff; }
.indigo-accent-2{ background-color: #536dfe; }
.indigo-accent-3{ background-color: #3d5afe; }
.indigo-accent-4{ background-color: #304ffe; }



.light-blue-lighten-5{ background-color: #e1f5fe; }
.light-blue-lighten-4{ background-color: #b3e5fc; }
.light-blue-lighten-3{ background-color: #81d4fa; }
.light-blue-lighten-2{ background-color: #4fc3f7; }
.light-blue-lighten-1{ background-color: #29b6f6; }
.light-blue{ background-color: #03a9f4; }
.light-blue-darken-1{ background-color: #039be5; }
.light-blue-darken-2{ background-color: #0288d1; }
.light-blue-darken-3{ background-color: #0277bd; }
.light-blue-darken-4{ background-color: #01579b; }
.light-blue-accent-1{ background-color: #80d8ff; }
.light-blue-accent-2{ background-color: #40c4ff; }
.light-blue-accent-3{ background-color: #00b0ff; }
.light-blue-accent-4{ background-color: #0091ea; }



.blue-lighten-5{ background-color: #e3f2fd; }
.blue-lighten-4{ background-color: #bbdefb; }
.blue-lighten-3{ background-color: #90caf9; }
.blue-lighten-2{ background-color: #64b5f6; }
.blue-lighten-1{ background-color: #42a5f5; }
.blue{ background-color: #2196f3; }
.blue-darken-1{ background-color: #1e88e5; }
.blue-darken-2{ background-color: #1976d2; }
.blue-darken-3{ background-color: #1565c0; }
.blue-darken-4{ background-color: #0d47a1; }
.blue-accent-1{ background-color: #82b1ff; }
.blue-accent-2{ background-color: #448aff; }
.blue-accent-3{ background-color: #2979ff; }
.blue-accent-4{ background-color: #2962ff; }



.cyan-lighten-5{ background-color: #e0f7fa; }
.cyan-lighten-4{ background-color: #b2ebf2; }
.cyan-lighten-3{ background-color: #80deea; }
.cyan-lighten-2{ background-color: #80deea; }
.cyan-lighten-1{ background-color: #26c6da; }
.cyan{ background-color: #00bcd4; }
.cyan-darken-1{ background-color: #00acc1; }
.cyan-darken-2{ background-color: #0097a7; }
.cyan-darken-3{ background-color: #00838f; }
.cyan-darken-4{ background-color: #006064; }
.cyan-accent-1{ background-color: #84ffff; }
.cyan-accent-2{ background-color: #18ffff; }
.cyan-accent-3{ background-color: #00e5ff; }
.cyan-accent-4{ background-color: #00b8d4; }



.teal-lighten-5{ background-color: #e0f2f1; }
.teal-lighten-4{ background-color: #b2dfdb; }
.teal-lighten-3{ background-color: #80cbc4; }
.teal-lighten-2{ background-color: #4db6ac; }
.teal-lighten-1{ background-color: #26a69a; }
.teal{ background-color: #009688; }
.teal-darken-1{ background-color: #00897b; }
.teal-darken-2{ background-color: #00796b; }
.teal-darken-3{ background-color: #00695c; }
.teal-darken-4{ background-color: #004d40; }
.teal-accent-1{ background-color: #a7ffeb; }
.teal-accent-2{ background-color: #64ffda; }
.teal-accent-3{ background-color: #1de9b6; }
.teal-accent-4{ background-color: #00bfa5; }



.light-green-lighten-5{ background-color: #f1f8e9; }
.light-green-lighten-4{ background-color: #dcedc8; }
.light-green-lighten-3{ background-color: #c5e1a5; }
.light-green-lighten-2{ background-color: #aed581; }
.light-green-lighten-1{ background-color: #9ccc65; }
.light-green{ background-color: #8bc34a; }
.light-green-darken-1{ background-color: #7cb342; }
.light-green-darken-2{ background-color: #689f38; }
.light-green-darken-3{ background-color: #558b2f; }
.light-green-darken-4{ background-color: #33691e; }
.light-green-accent-1{ background-color: #ccff90; }
.light-green-accent-2{ background-color: #b2ff59; }
.light-green-accent-3{ background-color: #76ff03; }
.light-green-accent-4{ background-color: #64dd17; }


.green-lighten-5{ background-color: #e8f5e9; }
.green-lighten-4{ background-color: #c8e6c9; }
.green-lighten-3{ background-color: #a5d6a7; }
.green-lighten-2{ background-color: #81c784; }
.green-lighten-1{ background-color: #66bb6a; }
.green{ background-color: #4caf50; }
.green-darken-1{ background-color: #43a047; }
.green-darken-2{ background-color: #388e3c; }
.green-darken-3{ background-color: #2e7d32; }
.green-darken-4{ background-color: #1b5e20; }
.green-accent-1{ background-color: #b9f6ca; }
.green-accent-2{ background-color: #69f0ae; }
.green-accent-3{ background-color: #00e676; }
.green-accent-4{ background-color: #00c853; }



.grey-lighten-5{ background-color: #fafafa; }
.grey-lighten-4{ background-color: #f5f5f5; }
.grey-lighten-3{ background-color: #eeeeee; }
.grey-lighten-2{ background-color: #e0e0e0; }
.grey-lighten-1{ background-color: #bdbdbd; }
.grey{ background-color: #9e9e9e; }
.grey-darken-1{ background-color: #757575; }
.grey-darken-2{ background-color: #616161; }
.grey-darken-3{ background-color: #424242; }
.grey-darken-4{ background-color: #212121; }



.blue-grey-lighten-5{ background-color: #eceff1; }
.blue-grey-lighten-4{ background-color: #cfd8dc; }
.blue-grey-lighten-3{ background-color: #b0bec5; }
.blue-grey-lighten-2{ background-color: #90a4ae; }
.blue-grey-lighten-1{ background-color: #78909c; }
.blue-grey{ background-color: #607d8b; }
.blue-grey-darken-1{ background-color: #546e7a; }
.blue-grey-darken-2{ background-color: #455a64; }
.blue-grey-darken-3{ background-color: #37474f; }
.blue-grey-darken-4{ background-color: #263238; }











.black-text{ color: #000000; }
.white-text { color: #ffffff; }
.transparent-text{ color: transparent; }


.red-text-lighten-5{ color: #ffebee; }
.red-text-lighten-4{ color: #ffcdd2; }
.red-text-lighten-3{ color: #ef9a9a; }
.red-text-lighten-2{ color: #e57373; }
.red-text-lighten-1{ color: #ef5350; }
.red-text{ color: #f44336; }
.red-text-darken-1{ color: #e53935; }
.red-text-darken-2{ color: #d32f2f; }
.red-text-darken-3{ color: #c62828; }
.red-text-darken-4{ color: #b71c1c; }
.red-text-accent-1{ color: #ff8a80; }
.red-text-accent-2{ color: #ff5252; }
.red-text-accent-3{ color: #ff1744; }
.red-text-accent-4{ color: #d50000; }


.pink-text-lighten-5{ color: #fce4ec; }
.pink-text-lighten-4{ color: #f8bbd0; }
.pink-text-lighten-3{ color: #f48fb1; }
.pink-text-lighten-2{ color: #f06292; }
.pink-text-lighten-1{ color: #ec407a; }
.pink-text{ color: #e91e63; }
.pink-text-darken-1{ color: #d81b60; }
.pink-text-darken-2{ color: #c2185b; }
.pink-text-darken-3{ color: #ad1457; }
.pink-text-darken-4{ color: #880e4f; }
.pink-text-accent-1{ color: #ff80ab; }
.pink-text-accent-2{ color: #ff4081; }
.pink-text-accent-3{ color: #f50057; }
.pink-text-accent-4{ color: #c51162; }



.purple-text-lighten-5{ color: #f3e5f5; }
.purple-text-lighten-4{ color: #e1bee7; }
.purple-text-lighten-3{ color: #ce93d8; }
.purple-text-lighten-2{ color: #ba68c8; }
.purple-text-lighten-1{ color: #ab47bc; }
.purple-text{ color: #9c27b0; }
.purple-text-darken-1{ color: #8e24aa; }
.purple-text-darken-2{ color: #7b1fa2; }
.purple-text-darken-3{ color: #6a1b9a; }
.purple-text-darken-4{ color: #4a148c; }
.purple-text-accent-1{ color: #ea80fc; }
.purple-text-accent-2{ color: #e040fb; }
.purple-text-accent-3{ color: #d500f9; }
.purple-text-accent-4{ color: #aa00ff; }



.deep-text-purple-lighten-5{ color: #ede7f6; }
.deep-text-purple-lighten-4{ color: #d1c4e9; }
.deep-text-purple-lighten-3{ color: #b39ddb; }
.deep-text-purple-lighten-2{ color: #9575cd; }
.deep-text-purple-lighten-1{ color: #7e57c2; }
.deep-text-purple{ color: #673ab7; }
.deep-text-purple-darken-1{ color: #5e35b1; }
.deep-text-purple-darken-2{ color: #512da8; }
.deep-text-purple-darken-3{ color: #4527a0; }
.deep-text-purple-darken-4{ color: #311b92; }
.deep-text-purple-accent-1{ color: #b388ff; }
.deep-text-purple-accent-2{ color: #7c4dff; }
.deep-text-purple-accent-3{ color: #651fff; }
.deep-text-purple-accent-4{ color: #6200ea; }



.indigo-text-lighten-5{ color: #e8eaf6; }
.indigo-text-lighten-4{ color: #c5cae9; }
.indigo-text-lighten-3{ color: #9fa8da; }
.indigo-text-lighten-2{ color: #7986cb; }
.indigo-text-lighten-1{ color: #5c6bc0; }
.indigo-text{ color: #3f51b5; }
.indigo-text-darken-1{ color: #3949ab; }
.indigo-text-darken-2{ color: #303f9f; }
.indigo-text-darken-3{ color: #283593; }
.indigo-text-darken-4{ color: #1a237e; }
.indigo-text-accent-1{ color: #8c9eff; }
.indigo-text-accent-2{ color: #536dfe; }
.indigo-text-accent-3{ color: #3d5afe; }
.indigo-text-accent-4{ color: #304ffe; }



.light-text-blue-lighten-5{ color: #e1f5fe; }
.light-text-blue-lighten-4{ color: #b3e5fc; }
.light-text-blue-lighten-3{ color: #81d4fa; }
.light-text-blue-lighten-2{ color: #4fc3f7; }
.light-text-blue-lighten-1{ color: #29b6f6; }
.light-text-blue{ color: #03a9f4; }
.light-text-blue-darken-1{ color: #039be5; }
.light-text-blue-darken-2{ color: #0288d1; }
.light-text-blue-darken-3{ color: #0277bd; }
.light-text-blue-darken-4{ color: #01579b; }
.light-text-blue-accent-1{ color: #80d8ff; }
.light-text-blue-accent-2{ color: #40c4ff; }
.light-text-blue-accent-3{ color: #00b0ff; }
.light-text-blue-accent-4{ color: #0091ea; }



.blue-text-lighten-5{ color: #e3f2fd; }
.blue-text-lighten-4{ color: #bbdefb; }
.blue-text-lighten-3{ color: #90caf9; }
.blue-text-lighten-2{ color: #64b5f6; }
.blue-text-lighten-1{ color: #42a5f5; }
.blue-text{ color: #2196f3; }
.blue-text-darken-1{ color: #1e88e5; }
.blue-text-darken-2{ color: #1976d2; }
.blue-text-darken-3{ color: #1565c0; }
.blue-text-darken-4{ color: #0d47a1; }
.blue-text-accent-1{ color: #82b1ff; }
.blue-text-accent-2{ color: #448aff; }
.blue-text-accent-3{ color: #2979ff; }
.blue-text-accent-4{ color: #2962ff; }



.cyan-text-lighten-5{ color: #e0f7fa; }
.cyan-text-lighten-4{ color: #b2ebf2; }
.cyan-text-lighten-3{ color: #80deea; }
.cyan-text-lighten-2{ color: #80deea; }
.cyan-text-lighten-1{ color: #26c6da; }
.cyan-text{ color: #00bcd4; }
.cyan-text-darken-1{ color: #00acc1; }
.cyan-text-darken-2{ color: #0097a7; }
.cyan-text-darken-3{ color: #00838f; }
.cyan-text-darken-4{ color: #006064; }
.cyan-text-accent-1{ color: #84ffff; }
.cyan-text-accent-2{ color: #18ffff; }
.cyan-text-accent-3{ color: #00e5ff; }
.cyan-text-accent-4{ color: #00b8d4; }



.teal-text-lighten-5{ color: #e0f2f1; }
.teal-text-lighten-4{ color: #b2dfdb; }
.teal-text-lighten-3{ color: #80cbc4; }
.teal-text-lighten-2{ color: #4db6ac; }
.teal-text-lighten-1{ color: #26a69a; }
.teal-text{ color: #009688; }
.teal-text-darken-1{ color: #00897b; }
.teal-text-darken-2{ color: #00796b; }
.teal-text-darken-3{ color: #00695c; }
.teal-text-darken-4{ color: #004d40; }
.teal-text-accent-1{ color: #a7ffeb; }
.teal-text-accent-2{ color: #64ffda; }
.teal-text-accent-3{ color: #1de9b6; }
.teal-text-accent-4{ color: #00bfa5; }



.light-text-green-lighten-5{ color: #f1f8e9; }
.light-text-green-lighten-4{ color: #dcedc8; }
.light-text-green-lighten-3{ color: #c5e1a5; }
.light-text-green-lighten-2{ color: #aed581; }
.light-text-green-lighten-1{ color: #9ccc65; }
.light-text-green{ color: #8bc34a; }
.light-text-green-darken-1{ color: #7cb342; }
.light-text-green-darken-2{ color: #689f38; }
.light-text-green-darken-3{ color: #558b2f; }
.light-text-green-darken-4{ color: #33691e; }
.light-text-green-accent-1{ color: #ccff90; }
.light-text-green-accent-2{ color: #b2ff59; }
.light-text-green-accent-3{ color: #76ff03; }
.light-text-green-accent-4{ color: #64dd17; }


.green-text-lighten-5{ color: #e8f5e9; }
.green-text-lighten-4{ color: #c8e6c9; }
.green-text-lighten-3{ color: #a5d6a7; }
.green-text-lighten-2{ color: #81c784; }
.green-text-lighten-1{ color: #66bb6a; }
.green-text{ color: #4caf50; }
.green-text-darken-1{ color: #43a047; }
.green-text-darken-2{ color: #388e3c; }
.green-text-darken-3{ color: #2e7d32; }
.green-text-darken-4{ color: #1b5e20; }
.green-text-accent-1{ color: #b9f6ca; }
.green-text-accent-2{ color: #69f0ae; }
.green-text-accent-3{ color: #00e676; }
.green-text-accent-4{ color: #00c853; }



.grey-text-lighten-5{ color: #fafafa; }
.grey-text-lighten-4{ color: #f5f5f5; }
.grey-text-lighten-3{ color: #eeeeee; }
.grey-text-lighten-2{ color: #e0e0e0; }
.grey-text-lighten-1{ color: #bdbdbd; }
.grey-text{ color: #9e9e9e; }
.grey-text-darken-1{ color: #757575; }
.grey-text-darken-2{ color: #616161; }
.grey-text-darken-3{ color: #424242; }
.grey-text-darken-4{ color: #212121; }



.blue-text-grey-lighten-5{ color: #eceff1; }
.blue-text-grey-lighten-4{ color: #cfd8dc; }
.blue-text-grey-lighten-3{ color: #b0bec5; }
.blue-text-grey-lighten-2{ color: #90a4ae; }
.blue-text-grey-lighten-1{ color: #78909c; }
.blue-text-grey{ color: #607d8b; }
.blue-text-grey-darken-1{ color: #546e7a; }
.blue-text-grey-darken-2{ color: #455a64; }
.blue-text-grey-darken-3{ color: #37474f; }
.blue-text-grey-darken-4{ color: #263238; }




